
html {
    min-width: 500px;
}

.main {
    margin-top: 50px;
}

.hidden {
    display: none;
}

.nav-bar {
    width: 250px;
    float: left;
}

.nav-bar * {
    overflow-y: hidden;
}

.folder-name, .form-name {
    border-width: 2px;
    border-style: solid;
    padding: 5px;
    padding-left: 13px;
}

.folder-name:hover, .form-name:hover {
    cursor: pointer;
}

.folder-body {
    padding-left: 20px;

    height: 0px;
}

.content {
    margin-left: 250px;
}

@media (min-width: 1000px) {
    .content {
        padding-left: 20%;
    }
}

@media (min-width: 750px) and (max-width: 1000px) {
    .content {
        padding-left: 10%;
    }
}

@media (max-width: 750px) {
    .content {
        padding-left: 5%;
    }
}

.parameter {
    margin-top: 50px;
}

.parameter-text {
    display: inline-block;
    max-width: 200px;
}

.parameter-value, .parameter-button {
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.parameter-text p {
    margin: 5px;
}

.parameter-name {
    font-weight: bold;
}

.parameter-description {
    font-size: 18px;
}